<% include partials/header.ejs %>

<div class="ui grid">
    <div class="sixteen wide column">
            <h2 class="ui huge center aligned header">
                <img class="ui image" src="mustache.png">
                <div class="content">
                A Quick Website
                </div>
            </h2>
    </div>
</div>

<% include partials/footer.ejs %>
